.button {
    font-size: 18px;
    font-weight: 400;
    padding: 7px 10px;
    color: #fff;
    transition: .3s;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
    
    @media (min-width: $lg) {
        font-size: 22px;
        padding: 10px 20px;
    }
    
    &--big {
        border-radius: 0;
        background-color: $color-secondary;
        
        &:disabled {
            background-color: #2D2D65 !important;
            color: rgba(255, 255, 255, 0.3) !important;
        }
    }
            
    &:disabled, &.js-disable {
        background-color: #2D2D65 !important;
        color: rgba(255, 255, 255, 0.3) !important;
    }
    
    &--secondary {
        background-color: $color-secondary;
        
        &:hover {
            background-color: $color-secondary-hover;
        }
    }
    
    &--mobile-full {
        width: 100%;
        
        @media (min-width: $sm) {
            width: inherit;
        }
    }
    
    &--mini {
        font-size: 12px;
        background-color: transparent;
        color: #fff;
        border: 1px solid $color-secondary;
        padding: 3px 5px;
        display: inline-block;
        border-radius: 50px;
        
        @media (min-width: $sm) {
            font-size: 14px;
        }
    }
    
    &--primary {
        background-color: $color-primary;
        border: 1px solid $color-secondary;
        
        &:hover {
            background-color: $color-secondary;
        }
    }
    
    &--primary-inversion {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        
        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }
}