.button {
    font-size: 18px;
    font-weight: 400;
    padding: 7px 10px;
    color: #fff;
    transition: .3s;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
    
    @media (min-width: $lg) {
        font-size: 22px;
        padding: 10px 20px;
    }
    
    &--big {
        border-radius: 0;
        background-color: $color-secondary;
        
        &:disabled {
            background-color: #2D2D65;
            color: rgba(255, 255, 255, 0.3);
        }
    }
    
    &--secondary {
        background-color: $color-secondary;
        
        &:hover {
            background-color: $color-secondary-hover;
        }
    }
    
    &--primary {
        background-color: $color-primary;
        border: 1px solid $color-secondary;
        
        &:hover {
            background-color: $color-secondary;
        }
    }
}