.custom-list {
    padding: 0;
    
    & li {
        border-bottom: 1px solid $color-secondary;
        border-left: 1px solid $color-secondary;
        padding: 10px;
        position: relative;
        list-style-type: none;
        
        &:last-child {
            border-bottom: 0;
        }
    }
    
    &__item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        
        &:after {
            content: '';
            width: 11px;
            height: 11px;
            border-radius: 50%;
            border: 1px solid $color-secondary;
            position: absolute;
            left: -16px;
            background-color: $color-primary;
        }
        
        @media (min-width: $lg) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__date {
        margin-right: 10px;  
        color: #8F93FF; 
    }
    
    &__text {
        color: #fff;
        font-size: 16px;
        
        @media (min-width: $lg) {
            font-size: 20px;
        }
        
        &--success {
            color: #74ED79;
        }
        
        &--error {
            color: #FF6D6D;
        }
    }
    
    &__additional {
        color: #8F93FF;   
        text-align: right;
        
        &:hover {
            color: #8F93FF;
            text-decoration: underline;
        }
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
    }
}